.category-main > .row {
  background-color: #ededed;
  border: .025rem solid #cccccc;
  border-radius: .125rem;
  color: #666;
  font-size: .35rem;
}
.category-main > .row > ul > li > a {
  display: block;
  height: 1rem;
  line-height: 1rem;
  font-size: .4rem;
  font-weight: bold;
  text-indent: .4rem;
  background-image: url('http://www.zuyushop.com/wap/images/arrow1.gif');
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: .025rem solid #cccccc;
}
.category-main > .row > ul > li > .sons {
  background-color: #f9f9f9;
}
.category-main > .row > ul > li > .sons > li {
  float: left;
  width: 33.33333%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #333;
  border: 1px solid #cccccc;
  border-top: none;
  border-left: none;
}
.category-main > .row > ul > li > .sons > li > a {
  display: block;
  width: 100%;
}
