@charset "UTF-8";
.m-nav {
  background-color: #fff;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: .375rem;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.m-nav .one {
  color: #000;
}
.m-nav .one i {
  border: .175rem solid transparent;
  border-bottom-color: #424040;
  position: relative;
  top: -0.4rem;
  margin-left: .125rem;
}
.m-nav .next {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: .9rem;
  left: 0;
  text-align: left;
  z-index: 333;
  display: none;
}
.m-nav .next a {
  color: #111;
  height: 1rem;
  display: block;
  padding: 0 .25rem;
  font-size: .4rem;
  border-bottom: 1px solid #ccc;
}
.m-nav .next a span {
  color: #ff9501;
  font-size: .35rem;
  float: right;
  line-height: 1rem;
  font-weight: 200;
  padding-right: .25rem;
}
.m-nav .area span,
.m-nav .shop span {
  display: none;
}
.m-nav .next.now {
  display: block;
}
.m-nav span.show {
  display: block;
}
.m-product {
  padding: .25rem;
}
.m-product > .item {
  width: 50%;
  padding: .125rem;
  float: left;
}
.m-product > .item > a {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: .25rem;
}
.m-product > .item > a > img {
  width: 4.35rem;
  height: 4.35rem;
  margin: 0 auto;
}
.m-product > .item > a > .info {
  margin-top: .15rem;
  font-size: .35rem;
  color: #111;
}
.m-product > .item > a .others {
  font-size: .45rem;
  margin: .125rem 0;
}
.m-product > .item > a .others .price {
  color: #f8601d;
}
.m-product > .item > a .others button {
  font-size: .35rem;
  color: #fff;
  background-color: #ff9501;
  border: none;
  outline: none;
  padding: .05rem .375rem;
  border-radius: .175rem;
  float: right;
}
